.live-bets {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #1b1c1d;
  padding: 8px;
  flex-grow: 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  .status {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }
}

.header {
  width: 100%;

  display: flex;
  font-size: 12px;

  span.user {
    width: 19%;
  }

  span.bet {
    width: 19%;
    min-width: 35%;
    text-align: right;
    padding-right: 8px;
  }

  span.out {
    flex: 1;
    text-align: right;
  }
}

.bets-list {
  overflow-y: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bet-items {
  height: 100%;
}

.bet-item {
  display: flex;
  background: #080202;
  border-radius: 8px;
  padding: 8px;
  margin: 8px 0;
  align-items: center;
  font-size: 14px;
  height: 36px;

  div.user {
    width: 19%;
    display: flex;
    align-items: center;
    gap: 8px;

    .avatar {
      img {
        width: 32px;
        border-radius: 50%;
      }
    }
  }

  div.bet {
    width: 19%;
    min-width: 35%;
    text-align: right;
    padding-right: 8px;
  }

  div.out {
    flex: 1;
    text-align: right;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
  }

  .live-bets {
    width: 400px;
  }
}
