<div class="controls">
    <div class="segments">
        <app-segments [segments]="['bet', 'auto']"></app-segments>
    </div>

    <div class="bet-features">

        <div class="bet-block">

            <app-bet-spinner></app-bet-spinner>

            <div class="bet-options">
                <button>1</button>
                <button>2</button>
                <button>5</button>
                <button>10</button>
            </div>
        </div>

        <div class="bet-action">
            <button class="btn btn-sucess bet">
                <span class="flex-column">
                    <label for="">BET</label>
                    <label for="">0</label>
                </span>
            </button>
        </div>
    </div>
    <div class="add-btn">
        <button class="btn btn-sucess">+</button>
    </div>
</div>